body{
    background:#EEE; 
    font-size:24pt;
}

.lang {
    border: 1px #AAA;
    border-style: solid;
    border-radius: 12px;
    background: #CCC;
    padding: 5px;
}
.redray{
    color: red;
}






